body {
    margin: 0;
    /*background-color:  #1d568b;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    animation: background 15s infinite alternate;
    height: 100vh;
    width: 100vw;
}


/* START PAGE */ 

.content {
    display: flex;
    flex-direction: column;
}

@keyframes background {
    0% {
      background: #eca8f1;
      box-shadow: 0 -200px 100px -100px rgb(243, 208, 144) inset;
    }
    10% {
        background: rgb(238, 70, 222);
        box-shadow: 0 -200px 100px -100px rgb(246, 197, 106) inset;
    }
    20% {
        background: rgb(240, 53, 149);
        box-shadow: 0 -200px 100px -100px rgb(251, 179, 46) inset;
    }
    30% {
        background: rgb(247, 50, 132);
        box-shadow: 0 -200px 100px -100px rgb(251, 163, 0) inset;
    }
    40% {
        background: rgb(243, 133, 16);
        box-shadow: 0 -200px 100px -100px rgb(255, 132, 0) inset;
    }
    50% {
        background: #ff7402;
        box-shadow: 0 -200px 100px -100px rgb(255, 115, 0) inset;
    }
    60% {
        background: rgb(243, 133, 16);
        box-shadow: 0 -200px 100px -100px rgb(255, 132, 0) inset;
    }
    70% {
        background: rgb(247, 50, 132);
        box-shadow: 0 -200px 100px -100px rgb(251, 163, 0) inset;
    }
    80% {
        background: rgb(240, 53, 149);
        box-shadow: 0 -200px 100px -100px rgb(251, 179, 46) inset;
    }
    90% {
        background: rgb(238, 70, 222);
        box-shadow: 0 -200px 100px -100px rgb(246, 197, 106) inset;
    }
    100% {
        background: #eca8f1;
        box-shadow: 0 -200px 100px -100px rgb(243, 208, 144) inset;
      }
  }

  .animation-container {
    display: flex;
  }

.text {
    color: black;
    font-family: /*"amatic-sc", */ monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    display: none;
    animation: 
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

.hello {
    position: relative;
    top: -100px;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #c025cb }
}

.animation-container {
    margin-top: 130px;
    height: 200px;
}

.plane {
    position: absolute;
    animation: slide 5s linear infinite;
    /*top: 320px;*/
    top: 0px;
    height: 200px;
    width: 200px;
    z-index: 5;
    /*display: none;*/
    display: flex;
  }

.car {
    position: absolute;
    animation: slide2 10s linear infinite;
    top: 470px;
    height: 200px;
    width: 200px;
    display: flex;
} 
  
  @keyframes slide {
    0% { left: -15%; } 
    100% { left: 100%; }
  }

  @keyframes slide2 {
    0% { left: 100%; } 
    100% { left: -15%; }
  }

.road {
    position: absolute;
    height: 10px;
    width: 100vw;
    left: 0px;
    border-top: 10px solid black;
    top: 600px;
    animation: none;
}

/* ROUND ONE */

.text1 {
    color: black;
    font-family: /*"amatic-sc", */ monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

.hello1 {
    display: none;
    position: relative;
    top: -100px;
}

@keyframes changeBorder {
    0% { border-color: black; }
    50% { border-color: rgb(0, 187, 0); }
    100% { border-color: black; }
}

/* BOSS 1 */

.text2 {
    color: black;
    font-family: /*"amatic-sc", */ monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    animation: 
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

.hello2 {
    position: relative;
    top: -250px;
    display: none;
}

/* BOSS1 */

.boss1 {
    display: none;
}

.boss1 .smartphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 350px;
    opacity: 1;
}

.boss1 .sim {
    position: absolute;
    top: 70%;
    left: 80%;
    height: 100px;
    width: 100px;
    opacity: 1;
}

.boss1 .phone {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
    opacity: 0;
    display: none;
}

.visible {
    opacity: 1;
    animation: fadeIn 1s ease-in-out forwards;
}

.hidden {
    opacity: 0;
    animation: fadeOut 3s ease-in-out forwards;
}

.rotate {
    opacity: 1;
    animation: rotateAnimation 1s ease-in-out infinite, fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-30deg); } 
    100% { transform: rotate(0deg); } 
  }

/* CV */

.cv {
    display: none;
    flex-direction: column;
    background-color: #eca8f1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: monospace, sans-serif;
    font-size: 12px;
    margin: 0;
    font-family: "amatic-sc", monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.photo {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    margin-left: 50px;
    border: 10px solid olivedrab;
}

.header {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    display: inline;
    font-family: "amatic-sc", monospace, sans-serif;
    padding: 0;
}
.header2 {
    display: flex;
}    

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    font-size: 24px;
    gap: 5px;
    margin-right: 10px;
}

.aboutme * {
    margin: 0;
}

.skills {
    position: relative;
    top: -220px;
    left: 420px;
    display: flex;
    font-size: 24px;
}

.skills * {
    margin: 0;
}

.hard-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.study {
    position: relative;
    top: -170px;
    display: flex;
    font-size: 24px;
    gap: 20px;
    margin-left: 50px;
}

.myStudy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myStudy * {
    margin: 0;
}

.datainfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.datainfo * {
    margin: 0;
}

.cv-button {
    height: 75px;
    width: 300px;
    border-radius: 20px;
    background-color: inherit;
    border: 10px solid olivedrab;
    display: none;
    justify-content: center;
    align-items: center;
    color: olivedrab;
    position: relative;
    top: 250px;
    left: 300px;
    font-family: "amatic-sc", monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.cv-button:hover {
    border: 10px solid black;
    color: black;
    background-color: olivedrab;
}

/* ROUND 2 */

.hello3 {
    position: relative;
    top: -300px; 
    display: none;
}

.text3 {
    color: black;
    font-family: monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

.meteorit1, .meteorit2, .meteorit3, .meteorit4 {
    top: -200px; 
    left: 100%;
    height: 100px;
    width: 100px;
    position: absolute;
    animation: moveDiagonally 5s linear infinite;
    display: none;
}



.meteorit1 {
    animation-delay: 0s;
}

.meteorit2 {
    animation-delay: 1s;
}

.meteorit3 {
    animation-delay: 2s;
}

.meteorit4 {
    animation-delay: 3s;
}

@keyframes moveDiagonally {
    0% {
        top: -200px; 
        left: 100%;  
    }
    100% {
        top: 100vh; 
        left: -100px; 
    }
}

.hello4 {
    position: relative;
    top: -300px; 
    left: 0px
}

.text4 {
    color: black;
    font-family: monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* BOSS 2 */

.forest1, .forest2, .forest3, .sun, .animation-container, .hello4 {
    display: none;
}

.forest1 {
    position: absolute;
    left: 300px;
    height: 300px;
    width: 300px;
}

.forest2 {
    position: absolute;
    left: 600px;
    height: 300px;
    width: 300px;
}

.forest3 {
    position: absolute;
    left: 900px;
    height: 300px;
    width: 300px;
}

.sun {
    position: absolute;
    left: 1200px;
    top: 75px;
    height: 150px;
    width: 150px;
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, -5px); }
    50% { transform: translate(5px, 5px); }
    75% { transform: translate(-5px, 5px); }
    100% { transform: translate(0, 0); }
  }

  .moon {
    display: none;
    position: absolute;
    left: 1200px;
    top: 75px;
    height: 150px;
    width: 150px;
} 

.justin-beaver {
    display: none;
    position: absolute;
    left: 860px;
    top: 450px;
    height: 75px;
    width: 75px;
}

/* FORM */

.form-project {
    display: none;
    background-color: #eca8f1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: monospace, sans-serif;
    margin: 0;
    font-family: "amatic-sc", monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.links {
    display: flex;
    flex-direction: column;
}

.form-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 24px;
}

.ps {
    font-weight: 900;
    font-size: 28px;
    color: olivedrab;
}

.about-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-form h1 {
    position: relative;
    left: -50px;
}

.about-form * {
    margin: 0;
}

.form-functional {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 24px;
    gap: 20px;
    align-items: flex-start;
}

.form-functional * {
    margin: 0;
}

.form-functional h1 {
    position: relative;
    right: 50px;
}

.main-link {
    height: 300px;
    width: 550px;
    border-radius: 20px;
    border: 10px solid olivedrab;
    margin-left: 50px;
    margin-top: 50px;
}

.form-project h1 {
    margin-left: 50px;
}

.git-link {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.gitlink {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.form-button {
    height: 75px;
    width: 300px;
    border-radius: 20px;
    background-color: inherit;
    border: 10px solid olivedrab;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    color: olivedrab;
    position: relative;
    left: 400px;
    top: 100px;
    font-family: "amatic-sc", monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.form-button:hover {
    border: 10px solid black;
    color: black;
    background-color: olivedrab;
}

/* ROUND 3 */

.animation-container {
    display: flex;
}


.basket {
    position: absolute;
    top: 455px;
    left: 650px;
    height: 150px;
    width: 150px;
    display: none;
} 

.apples {
    display: none;
    position: relative;
    top: -500px;
    gap: 60px;
}

.apple {
    opacity: 1;
    position: relative;
    height: 100px;
    width: 100px;
}

@keyframes fall {
    0% {
        top: -100px;
    }
    100% {
        top: 100vh;
    }
}

.hello6 {
    display: none;
    position: absolute;
    left: 200px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text6 {
    display: none;
    color: black;
    font-family: monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

.animation-text {
    position: absolute;
    animation: slide3 6.9s linear infinite;
    top: 30px;
    z-index: 5;
    overflow: hidden;
    text-wrap: nowrap;
    /*display: none;*/
    font-family: "amatic-sc", monospace, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
  }

  @keyframes slide3 {
    0% { left: -58%; } 
    100% { left: 100%; }
  }